* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: #23252c;
}

.container {
  width: 350px;
  margin: 0 auto;
  background: #1a1b21;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.info-name {
  color: #fff;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 700;
  margin-top: 1em;
}

.info-role {
  color: #f3bf99;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.3em;
}

.info-website {
  color: #f5f5f5;
  text-align: center;
  font-size: 0.64rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0.5em;
}

.contact-btns {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

.btn {
  border-radius: 6px;
  padding: 0.5em 1.5em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem; /* 114.286% */
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.mail-btn {
  color: #374151;
  background-color: #fff;
}

.linkedin-btn {
  color: #fff;
  background-color: #5093e2;
}

section {
  padding: 1em 2.25em;
}

.section-title {
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%; /* 1.5rem */
}

.section-content {
  color: #dcdcdc;
  font-size: 0.64rem;
  font-weight: 400;
  line-height: 150%; /* 0.96rem */
}

footer {
  display: flex;
  border-radius: 0px 0px 10px 10px;
  background: #161619;
  padding: 1.2em;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.social-links i {
  text-decoration: none;
  color: #918e9b;
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 95vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: repeat(2, 1fr) 75px;
    grid-template-areas:
      "info about"
      "info interests"
      "footer footer";
    gap: 1em;
  }
  header {
    grid-area: info;
    justify-content: space-between;
  }

  .info-role {
    font-size: 1rem;
  }

  .info-website {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 1rem;
    padding: 1em 2em;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-title {
    font-size: 1.5rem;
  }

  .section-content {
    font-size: 1rem;
  }

  .about {
    grid-area: about;
  }

  .interests {
    grid-area: interests;
  }

  footer {
    grid-area: footer;
  }
}
